.navbarBrand {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.LinkedinIcon {
  min-width: 38px;
  min-width: 38px;
  display: block;
}
.navSearch {
  margin-right: auto;
  margin-left: 0;
  padding: 0;
  max-width: 230px;
}
.navCol {
  padding: 0;
  text-align: center;
  /* width: 56px; */
  margin: auto 4px;
}
.navIcon {
  color: grey;
  font-size: 24px;
}
.navIconText {
  font-size: 10px;
  color: grey;
  overflow: hidden;
  white-space: nowrap;
}
