.expEntries {
  list-style-type: none;
}

.exp:hover {
  text-decoration: underline;
}
.editBtnExp {
position: absolute;
left: 94%;
margin-top: -.5vw
}

.roleExp{
  font-weight: bold;
  font-size: .95rem;
}

.workplaceExp {
  font-size: .9rem;
}

.timeExp, .cityExp {
  font-size: .9rem;
  color: grey
}

.descExp {
  padding-top: .2vw;
  font-size: .9rem;
}

