.homeDiv {
  background-color: #f3f2ef;
}
.HomeCont {
  padding-top: 100px;
  width: 800px;
}
.postImage {
  height: 300px;
  object-fit: cover;
}
.HomeModal {
  display: flex;
  justify-content: left;
}
