body {
  background-color: #ffffff;
}
.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loginContainer h4 {
  font-weight: 600;
}
.loginContainer h6 {
  color: grey;
  margin-bottom: 2rem;
}
