body {
  background-color: #ffffff;
}
.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loginContainer h4 {
  font-weight: 600;
}
.loginContainer h6 {
  color: grey;
  margin-bottom: 2rem;
}

.loginContainer .loginBtn {
  background-color: #0a66c2;
  width: 100%;
  padding: 0.75rem;
  margin: 0.25rem;
  color: white;
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  border-radius: 2rem;
  text-align: center;
  font-size: 1rem;
}
