
@media only screen and (max-width: 576px) {
  .mainBody {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
@media only screen and (min-width: 577px) and (max-width: 780px) {
  .mainBody {
    width: 70v;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 5vw;
  }
  .wrapper {
    position: absolute;
    top: 4vh;
    width: 71vw;
    height: 19vh;
  }
  .propic {
    width: 15vw;
    height: 15vw;
    position: absolute;
    top: 4v;
    z-index: 2;
    border-radius: 50%;
    border-width: 0.3vw;
    border-color: white;
    border-style: solid;
    object-fit: scale-down;
    height: 15vw;
    margin-left: 24vw;
  }
  .btncol {
    margin-top: 0;
    margin-bottom: 0;
  }

  .job {
    display: none;
  }

  .jobdec {
    display: non;
  }

  .btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 24.5v;
    width: 77v;
    justify-content: center;
  }
  .dropdownAdd {
    width: 25vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #0a66ce;
    height: 3v;
    font-weight: 600;
    border-style: none;
  }
  .moreBtn {
    width: 10vw;
    padding-bottom: 2.5vw;
    margin-left: 2vw;
    margin-right: 2vw;
  }
}

@media only screen and (min-width: 781px) and (max-width: 992px) {
  .mainBody {
    width: 30vw;
  }
  .moreBtn {
    width: 15v;
    padding-bottom: 2.5vw;
  }
  .wrapper {
    position: absolute;
    top: 4vh;
    width: 80vw;
    height: 19vh;
  }
  .propic {
    width: 12vw;
    height: 12vw;
    position: absolute;
    top: 7.5vh;
    z-index: 2;
    border-radius: 50%;
    border-width: 0.3vw;
    border-color: white;
    border-style: solid;
    object-fit: scale-down;
    height: 12vw;
    margin-left: 16.6vw;
  }
  .btns {
    position: absolute;
    top: 22.5v;
    width: 46v;
  }
  .dropdownAdd {
    width: 18vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #0a66ce;
    height: 2.5v;
    font-weight: 600;
    border-style: none;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .mainBody {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .wrapper {
    position: absolute;
    top: 4vh;
    width: 30vw;
    height: 19vh;
  }
  .propic {
    width: 12vw;
    height: 12v;
    position: absolute;
    top: 7.5vh;
    z-index: 2;
    border-radius: 50%;
    border-width: 0.3vw;
    border-color: white;
    border-style: solid;
    object-fit: scale-down;
    height: 12vw;
    margin-left: 16.6vw;
  }

  .btns {
    position: absolute;
    top: 23vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .moreBtn {
    width: 8v;
    padding-bottom: 2.5v;
    margin: 1vw;
  }

  .dropdownAdd {
    width: 18vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #0a66ce;
    height: 2.5v;
    font-weight: 600;
    border-style: none;
  }
}
.header {
  margin-top: 5.5vw;
  height: 38vh;
  width: 46vw;
  left: -3.5vw;
  background-color: white;
  border-radius: 0.5vw;
  border-color: lightgrey;
  border-style: solid;
  border-width: 0.1vw;
}
.mainBody {
  width: 63.2vw;
  margin-right: 20vw;
  margin-left: 20vw;
}
.btns {
  position: absolute;
  top: 16vh;
  right: 1vw;
  width: 16vw;
}
.dropdownAdd {
  width: 10vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #0a66ce;
  height: 3.1vh;
  font-weight: 600;
  border-style: none;
  padding-bottom: 1.5vw;
  margin-right: 1vw;
}

.moreBtn {
  margin-right: 1vw;
}

.coverpic {
  height: 40%;
  width: 100.5%;
  background: url("https://www.veikel.com//images/covers/1561680392_cover%20veikel%20default.jpg");
  position: absolute;
  left: -0.25%;
  right: 0;
  top: -1%;
  margin: 0vw;
  margin-top: 0;
  z-index: 1;
  border-top-left-radius: 0.5vw;
  border-top-right-radius: 0.5vw;
}
#headerName {
  font-size: 1.45rem;
  line-height: 1.33333;
  font-family: "Roboto", sans-serif;
  font-weight: 400 ;
  
}
#headerDescription {
  font-size: 1rem ;
  line-height: 1.33333;
  font-family: "Roboto", sans-serif;
  font-weight: 300 ;
  padding: 0 auto;
  
}
#headerLoc {
  display: flex;
  font-size: 0.9rem !important;
  font-weight: 300 !important;
  
  font-family: "Roboto", sans-serif;
}

#headerLink {
  display: flex;
  color: #0a66ce;
  font-family: "Roboto", sans-serif;
  font-weight: bold !important;
  
}

.hoverBlue:hover {
  text-decoration: underline;
}

.propic {
  width: 8vw;
  height: 8vw;
  position: absolute;
  top: 7.5vh;
  z-index: 2;
  border-radius: 50%;
  border-width: 0.3vw;
  border-color: white;
  border-style: solid;
  object-fit: cover;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.job {
  position: absolute;
  width: 1.8vw;
}
.jobdec {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 11pt;
  overflow: visible;
  white-space: normal;
}

.hoverBlue:hover {
  text-decoration: underline;
}

.wrapper {
  padding-top: 5vw;
  padding-bottom: 1vw;
  height: 17vh;
}
.info {
  font-size: 1.3rem;
  line-height: 1.33333;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
  padding-top: 0.5vw;
  padding-bottom: 1vw;
}

.infobody {
  font-size: 11pt;
}

.profileDiv {
  background-color: #f3f2ef;
}

.contactList {
  font-size: 1.45rem;
  line-height: 1.33333;
  font-family: "Roboto", sans-serif;
  font-weight: 400 !important;
}
