@media only screen and (min-width: 768px) {
  .rowm {
    margin-left: 0;
    margin-right: 0;
  }
  .bgBody {
    overflow: hidden !important;
  }
}
@media only screen and (min-width: 992px) {
}
.mainBody {
  width: 1130px;
  margin-left: auto;
  margin-right: auto;
}
.cardImg {
  max-height: 200px;
}
.bgBody {
  background-color: #f3f2ef;
}
.usrnTxt {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.9);
}
