@media only screen and (max-width: 576px) {
  .mainBody {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
@media only screen and (min-width: 577px) and (max-width: 780px) {
  .mainBody {
    width: 70v;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 5vw;
  }
  .wrapper {
    position: absolute;
    top: 4vh;
    width: 71vw;
    height: 19vh;
  }
  .propic {
    width: 15vw;
    height: 15vw;
    position: absolute;
    top: 4v;
    z-index: 2;
    border-radius: 50%;
    border-width: 0.3vw;
    border-color: white;
    border-style: solid;
    object-fit: scale-down;
    height: 15vw;
    margin-left: 24vw;
  }
  .btncol {
    margin-top: 0;
    margin-bottom: 0;
  }

  .job {
    display: none;
  }

  .jobdec {
    display: non;
  }

  .btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 24.5v;
    width: 77v;
    justify-content: center;
  }
  .dropdownAdd {
    width: 25vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #0a66ce;
    height: 3v;
    font-weight: 600;
    border-style: none;
  }
  .moreBtn {
    width: 10vw;
    padding-bottom: 2.5vw;
    margin-left: 2vw;
    margin-right: 2vw;
  }
}

@media only screen and (min-width: 781px) and (max-width: 992px) {
  .header {
    margin-top: 6.5vw;
    height: 56vh;
    width: 58vw;
    left: -15vw;
    background-color: white;
    border-radius: 0.5vw;
    border-color: lightgrey;
    border-style: solid;
    border-width: 0.1vw;
  }
  .bio {
    width: 58vw;
    left: -15vw;
  }
  .mainBody {
    width: 63.2vw;
    margin-right: 20vw;
    margin-left: 20vw;
  }

  .btns {
    position: absolute;
    top: 38vh;
    left: 6vw;
    width: 44vw;
  }

  .dropdownAdd {
    width: 18vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #0a66ce;
    height: 3vh;
    font-weight: 600;
    border-style: none;
    padding-bottom: 0.6vw;
    margin-right: 2vw;
  }
  
  .moreBtn {
    margin-right: 0.5vw;
    width: 7.5vw!important;
  }

  .opentowork {
    width: 57vw;
    height: 6.8vw;
    position: absolute;
    top: 44vh;
    left: 0.5vw;
    border-radius: 0.5vw;
  }

  .coverpic {
    height: 40%;
    width: 100.5%;
    background: url("https://www.veikel.com//images/covers/1561680392_cover%20veikel%20default.jpg");
    position: absolute;
    left: -0.25%;
    right: 0;
    top: -1%;
    margin: 0vw;
    margin-top: 0;
    z-index: 1;
    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;
  }
  #headerName {
    font-size: 1.45rem;
    line-height: 1.33333;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    width: 56vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #headerDescription {
    font-size: 1.2rem;
    line-height: 1.33333;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin-bottom: 0.1vw;
    position: absolute;
    top: -0.5vw;
    width: 56vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
  #headerLinkLoc {
    display: flex;
    font-size: 1rem ;
    font-weight: 300 !important;
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 6.5vw;
    width: 56vw;
      display: flexbox!important;
      flex-direction: row;
      justify-content: center;
  }
  
  #headerLink {
    display: flex;
    color: #0a66ce;
    font-family: "Roboto", sans-serif;
    font-weight: bold !important;
  }
  
  .hoverBlue:hover {
    text-decoration: underline;
  }
  
  .propic {
    width: 12vw;
    height: 12vw;
    position: absolute;
    top: 17.5vh;
    left: 1.5vw;
    z-index: 2;
    margin-left: 21vw ;
    border-radius: 50%;
    border-width: 0.3vw;
    border-color: white;
    border-style: solid;
    object-fit: cover;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
  
  .job {
    position: absolute;
    width: 4vw;
    left: -2vw;
    top: 5.5vw;
  }
  .jobdec {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 11pt;
    overflow: visible;
    white-space: normal;
    left: 4vw;
    top: 6.3vw;
  }
  
  .hoverBlue:hover {
    text-decoration: underline;
  }
  
  .wrapper {
    padding-top: 5vw;
    padding-bottom: 1vw;
    height: 17vh;
  }
  .info {
    font-size: 1.3rem;
    line-height: 1.33333;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
    padding-top: 0.5vw;
    padding-bottom: 1vw;
  }
  
  .infobody {
    font-size: 11pt;
  }
  
  .profileDiv {
    background-color: #f3f2ef;
  }
  
  .contactList {
    font-size: 1.45rem;
    line-height: 1.33333;
    font-family: "Roboto", sans-serif;
    font-weight: 400 !important;
  }

  .headerList {
      list-style-type: none;
      position: absolute;
      left: -2.8vw;
      top: 35vw;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .header {
    margin-top: 6.5vw;
    height: 56vh;
    width: 58vw;
    left: -15vw;
    background-color: white;
    border-radius: 0.5vw;
    border-color: lightgrey;
    border-style: solid;
    border-width: 0.1vw;
  }
  .bio {
    width: 58vw;
    left: -15vw;
  }
  .mainBody {
    width: 63.2vw;
    margin-right: 20vw;
    margin-left: 20vw;
  }

  .btns {
    position: absolute;
    top: 38vh;
    left: 6vw;
    width: 44vw;
  }

  .dropdownAdd {
    width: 18vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #0a66ce;
    height: 3vh;
    font-weight: 600;
    border-style: none;
    padding-bottom: 0.6vw;
    margin-right: 2vw;
  }
  
  .moreBtn {
    margin-right: 0.5vw;
    width: 7.5vw!important;
  }

  .opentowork {
    width: 57vw;
    height: 6.8vw;
    position: absolute;
    top: 44vh;
    left: 0.5vw;
    border-radius: 0.5vw;
  }

  .coverpic {
    height: 40%;
    width: 100.5%;
    background: url("https://www.veikel.com//images/covers/1561680392_cover%20veikel%20default.jpg");
    position: absolute;
    left: -0.25%;
    right: 0;
    top: -1%;
    margin: 0vw;
    margin-top: 0;
    z-index: 1;
    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;
  }
  #headerName {
    font-size: 1.45rem;
    line-height: 1.33333;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    width: 56vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #headerDescription {
    font-size: 1.2rem;
    line-height: 1.33333;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin-bottom: 0.1vw;
    position: absolute;
    top: -0.5vw;
    width: 56vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
  #headerLinkLoc {
    display: flex;
    font-size: 1rem ;
    font-weight: 300 !important;
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 6.5vw;
    width: 56vw;
      display: flexbox!important;
      flex-direction: row;
      justify-content: center;
  }
  
  #headerLink {
    display: flex;
    color: #0a66ce;
    font-family: "Roboto", sans-serif;
    font-weight: bold !important;
  }
  
  .hoverBlue:hover {
    text-decoration: underline;
  }
  
  .propic {
    width: 12vw;
    height: 12vw;
    position: absolute;
    top: 17.5vh;
    left: 1.5vw;
    z-index: 2;
    margin-left: 21vw ;
    border-radius: 50%;
    border-width: 0.3vw;
    border-color: white;
    border-style: solid;
    object-fit: cover;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
  
  .job {
    position: absolute;
    width: 4vw;
    left: -2vw;
    top: 5.5vw;
  }
  .jobdec {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 11pt;
    overflow: visible;
    white-space: normal;
    left: 4vw;
    top: 6.3vw;
  }
  
  .hoverBlue:hover {
    text-decoration: underline;
  }
  
  .wrapper {
    padding-top: 5vw;
    padding-bottom: 1vw;
    height: 17vh;
  }
  .info {
    font-size: 1.3rem;
    line-height: 1.33333;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
    padding-top: 0.5vw;
    padding-bottom: 1vw;
  }
  
  .infobody {
    font-size: 11pt;
  }
  
  .profileDiv {
    background-color: #f3f2ef;
  }
  
  .contactList {
    font-size: 1.45rem;
    line-height: 1.33333;
    font-family: "Roboto", sans-serif;
    font-weight: 400 !important;
  }

  .headerList {
      list-style-type: none;
      position: absolute;
      left: -2.8vw;
      top: 35vw;
  }
}
@media only screen and (min-width: 1201px) {
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.headerList {
  list-style-type: none;
  position: absolute;
  left: -1vw;
  top: 15vw;
}
.header {
  margin-top: 6vw;
  height: 60vh;
  width: 46vw;
  left: -3.5vw;
  background-color: white;
  border-radius: 0.5vw;
  border-color: lightgrey;
  border-style: solid;
  border-width: 0.1vw;
}
.bio {
  width: 46vw;
  left: -3.5vw;
}
.mainBody {
  width: 63.2vw;
  margin-right: 20vw;
  margin-left: 20vw;
}
.btns {
  position: absolute;
  top: 24.5vh;
  left: 24vw;
  width: 23vw;
}
.dropdownAdd {
  width: 11vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #0a66ce;
  height: 4vh;
  font-weight: 600;
  border-style: none;
  padding-bottom: 0.6vw;
  margin-right: 0.5vw;
}

.moreBtn {
  margin-right: 0.5vw;
}
.opentowork {
  width: 44vw;
  height: 6.8vw;
  position: absolute;
  top: 42vh;
  left: 0.5vw;
  border-radius: 0.5vw;
}
.coverpic {
  height: 40%;
  width: 100.5%;
  background: url("https://www.veikel.com//images/covers/1561680392_cover%20veikel%20default.jpg");
  position: absolute;
  left: -0.25%;
  right: 0;
  top: -1%;
  margin: 0vw;
  margin-top: 0;
  z-index: 1;
  border-top-left-radius: 0.5vw;
  border-top-right-radius: 0.5vw;
}
#headerName {
  font-size: 1.45rem;
  line-height: 1.33333;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
#headerDescription {
  font-size: 1.2rem;
  line-height: 1.33333;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-bottom: 0.1vw;
  position: absolute;
  top: -0.5vw;
}
#headerLinkLoc {
  display: flex;
  font-size: 1rem !important;
  font-weight: 300 !important;
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 3.8vw;
  width: 46vw;
}

#headerLink {
  display: flex;
  color: #0a66ce;
  font-family: "Roboto", sans-serif;
  font-weight: bold !important;
}

.hoverBlue:hover {
  text-decoration: underline;
}

.propic {
  width: 9.8vw;
  height: 9.8vw;
  position: absolute;
  top: 10.9vh;
  left: 1.5vw;
  z-index: 2;
  border-radius: 50%;
  border-width: 0.3vw;
  border-color: white;
  border-style: solid;
  object-fit: cover;
}



.job {
  position: absolute;
  width: 1.9vw;
  left: 7vw;
  top: -2.6vw;
}
.jobdec {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 11pt;
  overflow: visible;
  white-space: normal;
  left: 9.4vw;
  top: -2.3vw;
}

.hoverBlue:hover {
  text-decoration: underline;
}

.wrapper {
  padding-top: 5vw;
  padding-bottom: 1vw;
  height: 17vh;
}
.info {
  font-size: 1.3rem;
  line-height: 1.33333;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
  padding-top: 0.5vw;
  padding-bottom: 1vw;
}

.infobody {
  font-size: 11pt;
}

.profileDiv {
  background-color: #f3f2ef;
}

.contactList {
  font-size: 1.45rem;
  line-height: 1.33333;
  font-family: "Roboto", sans-serif;
  font-weight: 400 !important;
}
}