body {
  background-color: #f3f2ef;
}
.signupCol {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.signupCol h4 {
  font-weight: 600;
}
.signupCol span {
  font-size: 0.9rem;
}
.signupCol a {
  font-variant: #0a66c2;
  margin-top: 1rem auto 1rem 0;
}
.signupCol .loginBtn {
  background-color: #0a66c2;
  width: 100%;
  padding: 0.75rem;
  margin: 0.25rem;
  margin-top: 1rem;
  color: white;
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  border-radius: 2rem;
  text-align: center;
  font-size: 1rem;
}
.signupCol .form-control {
  border: 1px solid #111;
  font-size: 1rem;
  width: 352px;
}
.signupCol .input-group-text {
  color: grey;
}
.inputPwd {
  position: relative;
}
.signupCol .inputToggle {
  position: absolute;
  margin-left: auto;
  margin-right: 0.5rem;
  right: 0;
  top: 0;
  transform: translateY(50%);
  display: inline-block;
  background-color: white;
  color: #0a66c2;
}
.signupCol .inputToggle:hover {
  background-color: lightblue;
}
