#ad-div {
  padding: 1px;
  border-radius: 15px;
  background-color: #ffffff;
  height: 210px;
  width: 245px;
  background-attachment: fixed;
}
#ad {
  margin: 3px;
  height: 200px;
}
#user {
  cursor: pointer;
  border-radius: 100px;
  height: 50px;
}
#usersp {
  margin: 0;
  font-size: 15px;
}
#usersp:hover {
  color: rgb(9, 85, 172) !important;
  text-decoration-line: underline;
  cursor: pointer;
}
#usersh1 {
  margin: 0 !important;
  font-size: 15px !important;
}
#usersh1:hover {
  color: rgb(9, 85, 172) !important;
  text-decoration-line: underline !important;
  cursor: pointer !important;
}
#usersDiv {
  width: 200px;
  background-color: #ffffff;
}
#userdiv2 {
  background-color: transparent;
}
