.expRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.exp {
  display: flex;
  flex-direction: column;
}
.expImg {
  width: 48px;
  height: 48px;
}
.exp:hover {
  text-decoration: underline;
}
.editBtnExp {
  position: absolute;
  left: 94%;
}
.expIcons {
  font-size: 24px;
  color: #0a66ce;
}
.workplaceExp,
.roleExp,
.timeExp,
.cityExp,
.descExp {
  list-style-type: none;
  font-size: 0.9rem;
}

.timeExp,
.cityExp {
  color: grey;
}
.roleExp {
  font-size: 1rem;
  font-weight: bold;
}
.cardProf {
  border-radius: 8px;
  margin-top: 32px !important;
}
