.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header {
  height: 75vh !important;
}

.coverpic {
  height: 30%;
  background: url("https://www.veikel.com//images/covers/1561680392_cover%20veikel%20default.jpg");
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 1vw;
  margin-top: 0;
  z-index: 1
}

.propic {
  width: 20%;
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  border-width: .3vw;
  border-color: white;
  border-style: solid
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

h1 {
  font-size: 20pt !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 400 !important;
}

h2,
h3 {
  position: absolute;
}

h2 {
  top: 38%;
  font-size: 18pt !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 400 !important;
}