* {
  transition: all 0.25s;
}
body {
  background-color: #f3f2ef;
}
.header {
  height: 75vh !important;
  background-color: white !important;
  border-radius: 1vw !important;
  border-color: lightgrey;
  border-style: solid;
  border-width: 0.1vw;
}

.coverpic {
  height: 30%;
  background: url("https://www.veikel.com//images/covers/1561680392_cover%20veikel%20default.jpg");
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 1vw;
  margin-top: 0;
  z-index: 1;
}

.propic {
  width: 20%;
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  border-width: 0.3vw;
  border-color: white;
  border-style: solid;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

#h1 {
  font-size: 20pt !important;
  font-family: "Roboto", sans-serif;
  font-weight: 400 !important;
  position: absolute;
  top: 3vw;
}

h2,
h3 {
  position: absolute;
}

h2 {
  top: 5.5vw;
  font-size: 15pt !important;
  font-family: "Roboto", sans-serif;
  font-weight: 400 !important;
}

.loc {
  top: 7.5vw;
  font-size: 12pt !important;
}

.dropdown {
  display: flex;
  position: relative;
  top: 30%;
  left: 45%;
  z-index: 4;
}

.morebtn {
  position: absolute !important;
  top: 33% !important;
  left: 80%;
}

.editbtn {
  background-color: white !important;
  border: none !important;
  color: black;
  position: absolute !important;
  top: 33% !important;
  left: 90%;
}
